# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
local.env

# Temporary files
uploads/*
!uploads/.gitkeep

# OS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Xcode project files
*.xcodeproj
*.xcworkspace
*.pbxproj 
